*.csv
*.zip
**/.DS_Store
.DS_Store
*DS_Store
MSc__7_Semester__Overgangssemester/02805__Social_Grapg_and_Interaction/Week_4/data/country_performers
MSc__7_Semester__Overgangssemester/02805__Social_Grapg_and_Interaction/Week_4/data/rock_performers