*.csv
*.zip
**/.DS_Store
.DS_Store
*DS_Store
MSc__7_Semester__Overgangssemester/02805__Social_Grapg_and_Interaction/Week_4/data/country_performers
MSc__7_Semester__Overgangssemester/02805__Social_Grapg_and_Interaction/Week_4/data/rock_performers
MSc__7_Semester__Overgangssemester/02805__Social_Grapg_and_Interaction/data/rock_performers
MSc__7_Semester__Overgangssemester/02805__Social_Grapg_and_Interaction/data/rock_country

#MLOps
Overgangssemester/MLOps/S_4/datasets
Overgangssemester/MLOps/S_4/log
*.lfw-deepfunneled
*.lfw-deepfunneled.zip
Overgangssemester/MLOps/S_9/lfw-deepfunneled
