*.csv
*.zip
**/.DS_Store
.DS_Store
*DS_Store
*.pdf
*.png

# Overgangssemester
# 02805 Social Graph and Interaction
MSc__7_Semester__Overgangssemester/02805__Social_Grapg_and_Interaction/Week_4/data/country_performers
MSc__7_Semester__Overgangssemester/02805__Social_Grapg_and_Interaction/Week_4/data/rock_performers
MSc__7_Semester__Overgangssemester/02805__Social_Grapg_and_Interaction/data/rock_performers
MSc__7_Semester__Overgangssemester/02805__Social_Grapg_and_Interaction/data/rock_country

#MLOps
Overgangssemester/MLOps/S_4/datasets
Overgangssemester/MLOps/S_4/log
*.lfw-deepfunneled
*.lfw-deepfunneled.zip
Overgangssemester/MLOps/S_9/lfw-deepfunneled

#1 Semester
# 02285 Artificial Intelligence and Multi-Agent System
1_Semester/02285__Artificial_Intelligence_and_Multi-Agent_System/Reading_Materials/geffner2013concise.pdf
1_Semester/02285__Artificial_Intelligence_and_Multi-Agent_System/Reading_Materials/lipovetzky2012width.pdf
1_Semester/02285__Artificial_Intelligence_and_Multi-Agent_System/Reading_Materials/lipovetzky2014structure.pdf
1_Semester/02285__Artificial_Intelligence_and_Multi-Agent_System/Reading_Materials/rational_agents_chapter2.pdf
1_Semester/02285__Artificial_Intelligence_and_Multi-Agent_System/Reading_Materials/russell_norvig_3ed_chapters1-3.pdf
1_Semester/02285__Artificial_Intelligence_and_Multi-Agent_System/Reading_Materials/russell_norvig_3ed_chapters1-3.pdf
1_Semester/02285__Artificial_Intelligence_and_Multi-Agent_System/Reading_Materials/Russell-Norvig-2ed-POP.pdf
1_Semester/02285__Artificial_Intelligence_and_Multi-Agent_System/Reading_Materials/sharon2015conflict.pdf
1_Semester/02285__Artificial_Intelligence_and_Multi-Agent_System/Warmup_Assignment/searchclient
1_Semester/02285__Artificial_Intelligence_and_Multi-Agent_System/Warmup_Assignment/hospital_domain.pdf
1_Semester/02285__Artificial_Intelligence_and_Multi-Agent_System/Week_1/slides01_02285_search.pdf
1_Semester/02285__Artificial_Intelligence_and_Multi-Agent_System/Week_1/slides01_02285_search_sol.pdf

# 02477 Bayesian Machine Learning
1_Semester/02477__Bayesian_Machine_Learning/Reading_Materials/Bishop-Pattern-Recognition-and-Machine-Learning-2006.pdf
1_Semester/02477__Bayesian_Machine_Learning/Reading_Materials/Probabilistic_Machine_Learning__An_Introduction.pdf

# 02613 Python and High-Performance Computing
1_Semester/02613__Python_and_High-Performance_Computing/Reading_Materials/Advanced_Python_Programming.pdf
1_Semester/02613__Python_and_High-Performance_Computing/Reading_Materials/Fast Python.pdf
